/*reset Css:*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng(font, square..)
*/

#main-div {}

#header {
    width: inherit;
    height: 46.5px;
    background-color: #000;
}

#nav {}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
}

#nav li:hover>a {
    background-color: #ccc;
    color: #fff;
    display: inline-block;
}

#nav #subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    top: 46.5px;
    width: inherit;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover #subnav {
    display: block;
}

#nav #subnav li {
    display: block;
}

#nav #subnav a {
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#slider {
    height: 200px;
}

#content {}

#footer {}