/*reset Css:*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}


/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng(font, square..)
*/

#main-div {}

#header {
    position: fixed;
    top: 0;
    width: inherit;
    height: 46.5px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
}

#nav li:hover>a {
    background-color: #ccc;
    color: #fff;
    display: inline-block;
}

#nav #subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    top: 46.5px;
    width: inherit;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover #subnav {
    display: block;
}

#nav #subnav li {
    display: block;
}

#nav #subnav a {
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#nav .fa-caret-down {
    font-size: 14px;
}

#header .search-btn {
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 46.5px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url("../img/slider/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-decription {
    font-size: 15px;
}


/* Content */

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding-top: 48px;
    overflow: hidden;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}


/* Tour-section */

.tour-section {
    background-color: #000;
}


/* Ticket-list */

.ticket-list {
    margin-top: 40px;
    background-color: #fff;
    list-style: none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #ff4436;
    color: #fff;
    margin: 0 0 0 16px;
    padding: 3px 8px;
}

.ticket-list .quantity {
    float: right;
    margin-top: -3px;
    padding: 0 8px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}


/* Place-item */

.places-list {
    margin: 32px -8px 0px;
}

.place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
    padding-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}


/* Contact-section */


/* Footer */

#footer {
    color: #fff;
}